::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
	background-color: #fff;
	margin: 40px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	margin: 0 0 20px;
	height: 0;
}

ol, ul {
  list-style: none;
}


#body{
	margin: 0 15px 0 15px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

p.breadcrumbs {
	padding-bottom: 5px;
}

table.styled {
	width: 80%;
}

table.styled th, table.styled td {
	padding-left: 50px;
}

table.styled td {
	text-align: center;
}

.level {
	margin-right: 10px;
}

.settings {
  text-align: left;
}

.settings {
  position: relative;
  height: 32px;
  padding: 8px 12px 8px 8px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.settings img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.settings h5 {
  float: left;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.settings h5 small {
  display: block;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: #364168;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
.settings:hover ul {
  padding: 4px 0 6px;
  visibility: visible;
  opacity: 1;
}
.settings ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: -180;
  right: 0;
  width: 180px;
  background: #d9e3fa;
  border: 1px solid;
  border-color: #777777 #6c6c6c #666666;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: opacity, padding, visibility;
  -moz-transition-property: opacity, padding, visibility;
  -o-transition-property: opacity, padding, visibility;
  transition-property: opacity, padding, visibility;
  background-image: -webkit-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -moz-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -o-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: linear-gradient(to bottom, #eef3fe, #d9e3fa);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.settings ul:before, .settings ul:after, .settings li:first-child:after {
  content: '';
  display: block;
  position: absolute;
  left: 145px;
  width: 0;
  height: 0;
  border: 7px outset transparent;
}
.settings ul:before {
  bottom: -14px;
  border-top: 7px solid #555555;
}
.settings li:first-child:after {
  bottom: -13px;
  border-top: 7px solid white;
}
.settings ul:after {
  bottom: -12px;
  border-top: 7px solid #d9e3fa;
}
.settings li {
  padding: 0 12px;
  font-size: 11px;
  color: #838ca2;
  text-shadow: 0 1px white;
}
.settings li.sep {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #b4bbce;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}
.settings li a {
  display: block;
  position: relative;
  margin: 0 -13px;
  padding: 0 20px 0 12px;
  color: #313a4f;
  text-decoration: none;
  border: 1px solid transparent;
}
.settings li a:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #5a70b0;
  border-color: #5a70b0 #495d98 #42558a;
  background-image: -webkit-linear-gradient(top, #7688bd, #4e64a3);
  background-image: -moz-linear-gradient(top, #7688bd, #4e64a3);
  background-image: -o-linear-gradient(top, #7688bd, #4e64a3);
  background-image: linear-gradient(to bottom, #7688bd, #4e64a3);
}
.settings li a:hover:after {
  display: block;
}
.settings li a:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -4px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #9facd1;
  border-left-color: rgba(255, 255, 255, 0.4);
}
.grid12 
{
	background: #FF6600;
}
.grid12 .answers
{
  display: none;
}
.grid12 .question
{
  max-height: 40px;
  overflow: hidden;
}
.float-l
{
	float: left;
}

.float-r
{
	float: right;
}

.clr-b
{
	clear: both;
}

.clr-l
{
	clear: left;
}

.clr-r
{
	clear: right;
}
.editable
{

}
.save
{
  
}